<!--suppress AndroidElementNotAllowed -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akexorcist.omg.safebrowsing">

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="android.webkit.WebView.EnableSafeBrowsing"
        android:value="true" />

    <application>
        <activity android:name=".SafeBrowsingActivity" />
    </application>
</manifest>

